{% extends 'users/base.html' %}

{% block content %}

    <div id="index-banner" class="parallax-container black">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h3 class="header center white-text">
                    <B>We are here for you.</B>
                    <br><br>
                    <p>Your family's 24x7 health companion
                        For those who choose to stay healthy always</p>
                </h3>
                 <B>Book an Appointment online</B>
                    <br><br>
            </div>
        </div>
    </div>


{% endblock content%}