{% extends 'users/base.html' %}
{% block content %}
<div class="container h-100" style="margin-bottom:30px">
<div class="d-flex justify-content-center">
        <h3>JOIN TODAY AS</h3>
</div>
</div>
<div class="container h-100">
    <div class="d-flex justify-content-center  h-100">

            <div class="user_card" style="margin-right:20px">
                         <a class="login_btn btn" href="{% url 'register_doctor' %}">
                                <div class="d-flex justify-content-center mt-4 login_container">
                                        <h1>DOCTOR</h1>
                                </div>
                         </a>
            </div>

            <div class="user_card">
                        <a class="login_btn btn" href="{% url 'register_patient' %}">
                                <div class="d-flex justify-content-center mt-4 login_container">
                                        <h1>PATIENT</h1>
                                </div>
                        </a>
            </div>
    </div>
</div>
{% endblock content %}